.barOutlined {
    height:5px;
    width:20%;
    border:1px solid white;
    border-radius:10px;
}

.fill {
    height:98%;
    border-radius:10px;
    background-color:white;
    animation: fillIn 5s ease-in-out infinite;
}

@keyframes fillIn {
    0%   {width: 0;}
    50% {width:50%}
    100% {width:100%}
}

.fullBar {
    height:98%;
    width:100%;
    border-radius:10px;
    background-color:white;
}

